$heading-font-family:'Source Sans Pro', sans-serif;
$font-family-main:'Source Sans Pro', sans-serif;
$font-family-paragraph: 'Hind', sans-serif;

$header-back-img: url('../img/m-h-day.jpg') no-repeat center / cover;
$main-text-color: #2B2E3C;
$button-back: #699900;
$section-back: white;
$section-card-back: #21232e;
$footer-back: #21232e;
$selection-color: #15A0C8;

$rgb-color: rgb(99, 147, 24);
$liner-gradient: linear-gradient(90deg, rgba(99, 147, 24, 1) 34%, rgba(0, 149, 255, 1) 93%);