$heading-font-family: 'Source Sans Pro', sans-serif;
$font-family-main: 'Fresca', sans-serif;
$font-family-paragraph: 'Fresca', sans-serif;


$header-back-img: url('../img/m-h-night.jpg') no-repeat center / cover;
$main-text-color: #FFFFFF;
$button-back: #E3AC02;
$section-back: #21232E;
$section-card-back: #3B3E50;
$footer-back: #3B4050;
$selection-color: #FF4E33;

$rgb-color: rgb(219, 158, 9);
$liner-gradient: linear-gradient(90deg, rgba(219, 158, 9, 1) 34%, rgba(146, 44, 82, 1) 93%);

