h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    background: url("../img/apples.jpg") no-repeat center / cover;
    padding-top: 20px;
    padding-bottom: 200px;

}

.header-nav {
    display: flex;
    align-items: center;
}

.header-menu {
    display: flex;
    margin-left: auto;
}

.header-logo {
    text-transform: uppercase;
    color: white;
    font-size: 16px;
}

.header-menu li a {
    color: white;
    font-size: 16px;
    letter-spacing: 0px;
    margin-left: 50px;

}

.header-main {
    text-align: center;
    margin-top: 150px;
}

.header-main-header {
    letter-spacing: 4px;
    text-transform: uppercase;
    color: white;
    font-size: 50px;
    font-weight: normal;
}

.header-main-header span {
    font-size: 80px
}

.header-main-sub-text {
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.header-main-btn {
    margin-top: 150px;
    width: 200px;
    height: 50px;
    color: white;
    background-color: rgba(28, 28, 28, 0.5);
    border: 2px solid white;
    outline: none;
    cursor: pointer;
}

/*2*/

.main-text {
    display: flex;
    align-items: center;
    margin: 100px 0;
}

.main-text-first {
    font-size: 20px;
    width: 35%;
}

.main-text-first strong {
    font-weight: 900;

}

.main-text-second {
    font-size: 14px;
    width: 50%;
    margin-left: 200px;
}

/*3*/

.main-picture-header {
    font-size: 25px;
    font-weight: normal;
    padding: 100px 0;
}

.main-picture {
    background: lightgray;
    padding-bottom: 10px;
    text-align: center;
}

.main-picture-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.main-picture-block-img {
    margin: 0 20px;
    position: relative;

}

.main-picture-block-btn {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
    padding: 8px;
    color: white;
    background-color: rgba(28, 28, 28, 0.5);
    border: 2px solid white;
    outline: none;
    cursor: pointer;

}

.main-picture-block-img-title {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 20px;
    color: white;
}

.main-form {
    background: white;
    margin: 50px 0;
    padding: 50px 0;
}

.main-form-label {
    margin-right: 10px;
    font-size: 23px;
}

.main-form-input {
    height: 50px;
    width: 780px;
    background: lightgray;
    border: 1px solid black;
    outline: none;
    color: black;
    padding-left: 20px;


}

.main-form-input::placeholder {
    color: black;
}

.main-form-btn {
    height: 54px;
    width: 100px;
    margin: -5px;
    border: none;
    background: black;
    color: white;
    outline: none;
}

.footer-main-block {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
}


.footer-main-block-item-header {
    margin-bottom: 15px;
}

.footer-main-block-item {
    width: 20%;
    margin: 0 20px;
}

.footer-main-block-item-text {
    font-size: 12px;
    color: grey;
}

.footer-main-block-item-extra {
    width: 22%;
}

.footer-input {
    padding: 0;
    font-size: 10px;
    height: 25px;
    width: 115px;
}

.footer-input::placeholder {
    padding: 0;
}

.footer-btn {
    font-size: 10px;
    height: 28px;
    width: auto;
}

.footer-small {
    display: flex;
    align-items: center;
}

.footer-small a {
    color: grey;
}

.footer-menu {
    display: flex;
    margin-left: auto;
    float: right;
}

.footer-menu a {
    color: black;
}

.footer-menu li a {
    margin-left: 15px;
}