@media screen and (max-width: 767px) {

    .container {
        max-width: 768px;
        padding: 0 10px;
    }

    .header-logo {
        flex-basis: 100%;
        text-align: center;

    }

    .header-menu {
        margin: 0 auto;
    }

    .header-main {
        text-align: center;
    }

    .about-clinic {
        display: flex;
        flex-wrap: wrap;
    }

    .services-block-item {
        min-width: 90%;

    }

    .offers-block {
        flex-wrap: wrap;
    }

    .offers-block-item {
        flex-basis: 60%;
        margin: 10px 0;
    }

    .contact {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .about-clinic {
        text-align: center;
    }

}

@media screen and (min-width: 768px) and (max-width: 1280px) {

    .container {
        max-width: 1280px;
    }

    .about-clinic-pictures img {
        width: 400px;
    }

    .services-block-item {
        width: 200px;
    }

    .contact-img {
        width: 400px;
    }


}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}

.header-logo {
    padding-left: 170px;
}

.header-menu {
    display: flex;
    padding-right: 100px;

}

.header-menu li {
    margin-left: 15px;
}

.header-menu li a {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: black;

}

.header-menu li a:hover {
    color: #0078aa;
}

.header-main-links a img {
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    background-color: #0078aa;
    margin-right: 20px;

}

.header-main-links-img {
    width: 30px;

}

.header-main-links a img:hover {
    background: white;
    border: 1px solid #0078aa;
}

.fixed-arrow {
    position: fixed;
    right: 0;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    color: white;
    font-size: 35px;
    background-color: #0078aa;
}

.fixed-arrow:hover {
    color: #0078aa;
    background: white;
    border: 1px solid #0078aa;
}

.header-main {
    background: url("../img/lady.jpg") no-repeat center / cover;;
    padding-bottom: 200px;
}


.header-main-text {
    max-width: 570px;
    padding-top: 200px;
}

.header-main-text-header {
    font-size: 40px;
    margin-bottom: 20px;
}

.header-main-text p {
    color: #999999;

}

.about-clinic {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.about-clinic-pictures img {
    max-width: 800px;
}

.about-clinic-text-header {
    font-size: 30px;
}

.about-clinic-text-sub-header {
    color: #0078aa;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.about-clinic-item {
    margin: 10px 0;
}

.about-clinic-item span {
    color: #0078aa;
    margin-right: 10px;
}


.services {
    background: url("../img/services_bg.jpg");
    padding-bottom: 40px;
}

.services-header {
    text-align: center;
    padding-top: 50px;
    font-size: 28px;
}

.services-sub-header {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 10px;

}

.services-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.services-block-item {
    max-width: 340px;
    margin: 10px 0;
    background: white;
}

.services-block-item-content {
    margin: 15px;
}

.services-block-item-content p {
    font-size: 12px;
    padding-top: 10px;
}

.offers {
    background: url("../img/pricing_bg.jpg") no-repeat center / cover;
    padding-bottom: 100px;
}

.offers-block {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.offers-block-item {
    width: 300px;
    background: #47C9E5;
    color: white;
    height: 450px;
    font-size: 14px;

}

.offers-block-item-header {
    margin-top: 50px;
    font-size: 18px;
}

.offers-block-item-price {
    display: block;
    margin-top: 15px;
    font-size: 40px;
    font-weight: 800;
}

.offers-block-item-sub-header {
    font-style: italic;
    font-size: 13px;
}


.extra-item {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    color: #0078aa;
    background: white;
    border: 1px solid #0078aa;

}

.offers-block-item-paragraph {
    font-size: 12px;
    align-items: center;
    margin: 0px auto;
    width: 110px;
}

.offers-block-item-paragraph p {
    margin: 17px 0;
}

.offers-block-item-paragraph span {
    margin: 0;
    padding: 0;
    font-size: 30px;
}


.offers-block-item-btn {
    height: 40px;
    width: 100px;
    font-size: 15px;
    font-weight: 800;
    color: #0078aa;
    background: white;
    border: 2px solid #0078aa;
    border-radius: 8px;
    outline: none;
    cursor: pointer;

}

.padd-plus {
    margin-top: 15px;
}

.offers-block-item-btn:hover {
    background: #0078aa;
    color: white;
}


.contact-img {
    max-width: 1000px;
}

.contact {
    display: flex;
    align-items: center;
}

.contact-header {
    font-size: 30px;
    margin-left: 10px;
}

.contact-sub-header {
    margin: 10px 10px;
    text-transform: uppercase;
    font-size: 12px;
}

.contact-input {
    width: 400px;
    border: none;
    margin: 20px 10px;
    border-bottom: 1px solid grey;
    outline: none;
    padding-left: 5px;

}

.contact-input::placeholder {
    font-style: italic;
}

.contact-btn {
    margin-left: 10px;
    height: 50px;
    width: 100px;
    background: #0078aa;
    color: white;
    font-weight: 800;
    border: none;
    border-radius: 12px;
    outline: none;
}

.contact-btn:hover {
    background: white;
    color: #0078aa;
    border: 2px solid #0078aa;
}

.footer {
    background: #363636;
    text-align: center;
}

.footer p {
    font-size: 18px;
    padding: 20px 0;
    color: white;
    font-style: normal;
}

